
.colorNav{
  color: white;
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
  margin-left: 10px;
  }
/* ------------------------------------------------------CSS ADMIN PACIENTES ------------------------------------- */
  .orientacionNav{
    display: flex;
    flex-direction: column;
  }
.contenedorLateral{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 187, 0);
  height: 100vh;
  width: 75%;
  padding: 30px;
  margin-right: 10%;
}
.contenedorLateral .planes{
  margin-left: 10px;
}
.contenedorLateral .turnos{
  margin-left: 10px;
}
.contenedorLateral .btn{
color: white;
align-items: center;
margin-right:10px ;
}
.ContenedorAdmin{
  display: flex;
}
.Listado{
  display: flex;
  flex-direction: column;
  width: 80%;
  
}
.moverLista{
  display: flex;
  width: 100%;
  justify-content: center;

  
}

/* -------------------------------------- CSS ADMIN PRODUCTO------------------------------------------- */

.tamañoImagenProducto{
  width: 70px;
}

/* ------------------------------------- Formularios Pacientes y Prod---------------------------------*/

.divForms{
  background-color: rgb(168, 166, 166);
  width: 70%;
  margin: 40px;
  padding: 20px;
  border-radius: 10px;
}
.divGeneral{
  display: flex;
  justify-content: center;
}
