
.colorNav{
  color: white;
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
  margin-left: 10px;
  }
/* ------------------------------------------------------CSS ADMIN PACIENTES ------------------------------------- */
  .orientacionNav{
    display: flex;
    flex-direction: column;
  }
.contenedorLateral{
  display: flex;
  flex-direction: column;
  background-color: blue;
  height: 100vh;
  padding: 30px;
  margin-right: 10%;
  
}
.ContenedorAdmin{
  display: flex;
}

/* -------------------------------------- CSS ADMIN PRODUCTO------------------------------------------- */

.tamañoImagenProducto{
  width: 70px;
}

